/* You can add global styles to this file, and also import other style files */
html body {
  overflow-x: hidden !important;
}

/*Dom Elements*/
#placeHolderElement {
  visibility: hidden;
}

/* .goog-te-banner-frame {display:none;} // Don't show Google Topbar */
/* #goog-gt-tt {display:none!important;visibility:hidden!important;}*/
#google_translate_element {
  position: fixed;
  bottom: 0;
  right: 16px !important;
  z-index: 999 !important;
  cursor: pointer;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  font-family: Roboto, 'Open Sans', sans-serif !important;
  text-transform: uppercase;
}
.goog-te-combo {
  background-color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  padding: 4px !important;
  border-radius: 4px !important;
  font-size: 1rem !important;
  font-weight: bolder;
  line-height: 4rem !important;
  display: inline-block;
  cursor: pointer;
  zoom: 1;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}
option {
  cursor: pointer;
}
.goog-te-menu2 {
  max-width: 100%;
}
.goog-te-menu-value:nth-child(3) {
  display: none !important;
}
.goog-te-menu-value {
  color: #fff !important;
}
.google-te-menu-value:before {
  font-family: 'Material Icons';
  content: '\E927';
  margin-right: 16px;
  font-size: 2rem;
  vertical-align: -10px;
  /* width:32px!important; */
}

.goog-te-menu-value span:nth-child(5) {
  display: none;
}
.goog-te-menu-value span:nth-child(3) {
  border: none !important;
  font-family: 'Material Icons';
}
.goog-te-menu-value span:nth-child(3):after {
  display: none;
}
.goog-te-gadget-icon {
  background-image: url(https://placehold.it/32) !important;
  background-position: 0px 0px;
  height: 32px !important;
  width: 32px !important;
  margin-right: 8px !important;
  /*    OR */
  display: none;
}

.goog-te-menu2 .goog-te-menu2-item span {
  font-size: large !important;
}

/* ============ HIDE TOP BAR ============ */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

/* ================================== *\
  Mediaqueries
\* ================================== */
/* @media (max-width: 667px) {
  #google_translate_element {
    bottom: 0px;
    left: 16px !important;
    width: 100% !important;
  }
  goog-te-gadget {
    width: 100% !important;
  }
  .skiptranslate {
    width: 100% !important;
  }
  .goog-te-gadget-simple {
    width: calc(100% - 32px) !important;
    text-align: center;
  }
} */
